.black {
    color: black;
    background-color: black;
    width: 27px;
    height: 27px;
}

.square {
    background-color: white;
    font-family: Verdana;
    font-size: 15px;
    text-align: left;
    vertical-align: top;
    width: 27px;
    height: 27px;
    border: 1px solid black;
}

.number {
    font-family: Verdana;
    font-size: 8px;
    height: 15px;
    width: 25px;
}

.letter {
    width: 25px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.boxPanel {
    width: 25px;
    height: 25px;
}

.currentHighlightWord {
    background-color: #FFFFC0;
}

.currentLetterHighlight {
    background-color: #FFFF00;
    border: 1px solid #FF6633;
}

.highlightClue{
   background-color: #FFFFC0;
}


.cheated {
     background-color: #FFCCCC;
}


.clueBox {
    min-height: 30px;
    border-bottom: 1px solid silver;
    font-family: Verdana;
    font-size: 10pt;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
}

.clueNumber {
    font-size: 8pt;
    width: 15%;
}